.form-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 24px;
}
.input-field {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 16px;
  margin-right: 8px;
}
.input-field ::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
}
.show-more-btn {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 8px;
  display: block;
  margin: 20px auto;
  width: 91px;
  height: 40px;
  background: #4e75ff;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
}
.gallery img {
  width: 100%;
  height: 200px;
}
.description {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4px;
}
.description-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.description-item p {
  font-weight: 400;
  line-height: 2;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
